<div class="col-md text-light">
   <img class="img_iconos" src="{{ '/img/iconos/error.png' }}">
   <h1>
        Lo siento, ha habido un error en el pago.
        <br>
        Vuelva a intentarlo.
    </h1>
</div>