 <div class="col-md text-light">
       <img class="img_iconos" src="{{ '/img/iconos/error.png' }}">
        <h1>Lo siento, no tiene permisos para ver esta sección.<br>Ha de logearse con una cuenta de administrador</h1>
 </div>