<div id='modal_mapa' class="modal fade bd-example-modal-xl p-2" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div  class="modal-dialog modal-xl">
        <div  id="modal_mapa_interior" class="modal-content text-light bg-dark">
            <div>
                <button id="cerrar" type="button" class="close" aria-label="Close"  data-backdrop="false"  data-dismiss="modal"><span aria-hidden="true">&times;</span></button> 

                <h1>Nuestra Ubicación</h1>
                
                <iframe src="https://www.google.com/maps/embed?pb=!4v1606256887678!6m8!1m7!1srmGrjzTGbeZh81Hxztap0w!2m2!1d-33.39556133293653!2d-70.58041211305428!3f3.4195033991636024!4f-6.604078567429767!5f1.302194357647335" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                <br>
                
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1027.9443633864637!2d-70.5809132707516!3d-33.39559319879934!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662cf2c733021bd%3A0x1ddd1664153ef58f!2sVitacura%20Int%205414%2C%20Vitacura%2C%20Regi%C3%B3n%20Metropolitana%2C%20Chile!5e1!3m2!1ses!2ses!4v1606256933941!5m2!1ses!2ses" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
        </div>
    </div>      
</div>    